{% extends ":default:base.html.twig" %}

{% block header %}

    {% include ':default:menuLogin.html.twig' %} 





    <!-- Carousel
    ================================================== -->
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
        </ol>
        <div class="carousel-inner" role="listbox">
            <div class="item active">
                <img class="first-slide" src="{{ asset('images/cocooningb.jpg') }}" alt="First slide">
                <div class="container">
                    <div class="carousel-caption">
                        <h1>Bienvenue Cocooning</h1>
                        <p></p>
                        <p><a class="btn btn-lg btn-primary" href="{{path('connexion_homepage')}}" role="button">Commencer</a></p>
                    </div>
                </div>
            </div>
            <div class="item">
                <img class="second-slide" src="{{ asset('images/logement.jpg') }}" alt="Second slide">
                <div class="container">
                    <div class="carousel-caption">
                        <h1>cocooning</h1>
                        <p>Futur leader dans la recherche de logement</p>
                        <p><a class="btn btn-lg btn-primary" href="#" role="button">plus d'informations</a></p>
                    </div>
                </div>
            </div>

        </div>
        <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div><!-- /.carousel -->
    </br>


{% endblock %}



{% block main_content %}

    <div class="container">

        <div class="row marginbot-80">
            <div class="col-md-8 col-md-offset-2">
                <div id="sendmessage">Your message has been sent. Thank you!</div>
                <div id="errormessage"></div>

                <form action="{{path('Signup_homepage')}}"  method="post" role="form" class="contactForm">
                    {{form_start(form)}}
                    {{form_widget(form)}}
                    {{form_end(form)}}
                </form>

            </div>
        </div>	
    </div>

{% endblock %}


{% block footer %}

    {% include ':default:footer.html.twig' %} 

{% endblock %}