{% extends ":default:base.html.twig" %}



{% block header %}
    <header id="header">
        <h1><a href="index.html">Cocooning Students</a></h1>
        <nav id="nav">
            <ul>
                <li><a href="{{path('accueil_homepage')}}">Accueil</a></li>
                    <li><a href="{{path('service_homepage')}}">Services</a></li>
                <li><a href="{{path('contact_homepage')}}">Contact</a></li>
                <li><a href="{{path('Signup_homepage')}}" class="button special">Sign Up</a></li>
            </ul>
        </nav>
    </header>
    {% endblock %}
{%  block main_content %}
    <section id="main" class="wrapper">
        <div class="container">

            <header class="major">
                <h2>Cocooning Student</h2>
                <p>A propos de Cocooning Student</p>
            </header>

            <a href="#" class="image fit"><img src="{{ asset('images/cocooningb.jpg') }}" alt="" /></a>
            
            <div class="row">
        <div class="col-xs-6 col-sm-4">
            <div class="thumbnail">
                <img src="{{ asset('images/Home.png') }}" alt="..." class="img-circle">
                <div class="caption">
                    <h3>Logement</h3>
                    <p>...</p>
                    <p><a href="{{path('localisation_homepage')}}">Louer une chambre</a></p>
                </div>
            </div>
        </div>

        <div class="col-xs-6 col-sm-4">
            <div class="thumbnail">
                <img src="{{ asset('images/Home.png') }}" alt="...">
                <div class="caption">
                    <h3>Location</h3>
                    <p>...</p>
                    <p><a href="#">chercher une chambre</a></p>
                </div>
            </div>
        </div>

        <div class="col-xs-6 col-sm-4">
            <div class="thumbnail">
                <img src="{{ asset('images/Home.png') }}" alt="...">
                <div class="caption">
                    <h3>Assurance</h3>
                    <p>...</p>
                    <p><a href="#">Plus d'informations</a></p>
                </div>
            </div>
        </div>
    </div>
    

{% endblock %}

{% block footer %}
    <!-- Footer -->
    <footer id="footer">
        <div class="container">
            <section class="links">
                <div class="row">
                    <section class="col-lg-3">
                        <h3>L'entreprise</h3>
                        <ul class="unstyled">
                            <li><a href="#">A propos</a></li>
                            <li><a href="#">Règles</a></li>
                            <li><a href="#">Carrière</a></li>
                            <li><a href="#">Aide</a></li>

                        </ul>
                    </section>
                    <section class="col-lg-3">
                        <h3>Cocooning Students</h3>
                        <ul class="unstyled">
                            <li><a href="#">Comment sa marche ?</a></li>
                            <li><a href="#">Parrainage</a></li>
                            <li><a href="#">Confiance et sécurité</a></li>
                            <li><a href="#">Conditions générales et confidentialité</a></li>


                        </ul>
                    </section>
                    <section class="col-lg-3">
                        <h3>Bailleur</h3>
                        <ul class="unstyled">
                            <li><a href="#">Pourquoi louer vôtre Chambre ?</a></li>
                            <li><a href="#">Conditions et règles</a></li>
                            <li><a href="#">Parrainage bailleur</a></li>

                        </ul>
                    </section>

                </div>
            </section>
            <div class="row">
                <div class="col-md-3">
                    <ul class="copyright">
                        <li>&copy; Cocooning. All rights reserved.</li>
                        <li>Design: <a href="#">Zayani Mehdi Salim</a></li>

                    </ul>
                </div>
                <div class="col-md-3">
                    <ul class="icons">
                        <li>
                            <a class="icon rounded fa-facebook"><span class="label">Facebook</span></a>
                        </li>
                        <li>
                            <a class="icon rounded fa-twitter"><span class="label">Twitter</span></a>
                        </li>
                        <li>
                            <a class="icon rounded fa-google-plus"><span class="label">Google+</span></a>
                        </li>
                        <li>
                            <a class="icon rounded fa-linkedin"><span class="label">LinkedIn</span></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
{% endblock %}
